@import "../../assets/responsive.mixin.scss";

.wrapper {
  margin: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;

  li {
    list-style-type: none;

    &.price {
      color: darkorange;
    }

    &.restaurant-card {
      width: 100%;
      // margin: 30px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22) !important;

      @include media(
        $from: "small",
        $until: 1600px,
        $and: "orientation: landscape"
      ) {
        width: 25%;
      }


      @include media(
        $from: 1600px,
        $until: 3000px,
        $and: "orientation: landscape"
      ) {
        width: 19%;
        justify-content: flex-start;
      }

      &:hover {
        img {
          filter: contrast(100%);
        }
      }

      .mat-card {
        &-title {
          @include media(
            $from: "sm",
            $until: 900px,
            $and: "orientation: landscape"
          ) {
            color: blue;
          }
        }
      }
    }
  }
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  filter: contrast(70%);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.example-header-image {
  background-image: url(../../assets/logo.jpg);
  background-size: cover;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;

  & > div {
    margin-right: 20px;

    mat-slide-toggle.mat-checked {
      label {
        font-weight: bold;
      }
    }

    label {
      font-size: 18px;
      // color: darkgray;
      padding-left: 4px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 40px 70px 0 0;

  &-label {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &-input {
    width: 25%;

    @include media(
      $from: "extra-small",
      $until: "small",
      $and: "orientation: landscape"
    ) {
      width: 100%;
    }

    @include media(
      $from: "small",
      $until: "medium",
      $and: "orientation: landscape"
    ) {
      width: 75%;
    }

    @include media(
      $from: "medium",
      $until: "large",
      $and: "orientation: landscape"
    ) {
      width: 50%;
    }

    @include media(
      $from: "large",
      $until: "extra-large",
      $and: "orientation: landscape"
    ) {
      width: 50%;
    }
  }
}

.productCards img {
  background-size: cover;
    height: auto;
    filter: contrast(70%);

    &:hover {
        filter: contrast(100%);
    }

    &.first-photo {
      width: 100%;
    }
}

.add-fav {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  margin-left: auto;
  // border: 1px solid #ccc;
  // background: -webkit-linear-gradient( top,#fff,#ddd) #ddd;
  position: relative;
  transition: all .5s ease;
  // border-radius: 3px;
  // box-shadow: inset 0 -1px 1px #eee;
  
  // &:hover {
  //   background: -webkit-linear-gradient( top,#fff,#ccc) #ddd;
  // }

  .icon-heart {
    font-size: 24px;
    color: #666;
    position: relative;
    transition: all .5s ease-in-out;
  }
  .icon-plus-sign {
    font-size: 10px;
    color: #333;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 11px;
    width: 11px;
    line-height: 11px;
    text-align: center;
    transition: all 1s ease-in-out;
  }
  input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
    &:checked + .icon-heart {
      color: red;
      .icon-plus-sign {
        display:none;
      }
    }
  }
}
