<!-- Toolbar -->
<mat-toolbar color="warn" class="header">
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
  <div>Restaurants & Bars in Brasov</div>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <!-- <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]
  >
    <mat-nav-list>
      <a mat-list-item> <mat-icon>dashboard</mat-icon> Dashboard </a>
      <a mat-list-item> <mat-icon>person</mat-icon> User Profile </a>
      <a mat-list-item> <mat-icon>content_paste</mat-icon> Table List </a>
      <a mat-list-item> <mat-icon>library_books</mat-icon> Typography </a>
      <a mat-list-item> <mat-icon>location_on</mat-icon> Maps </a>
      <a mat-list-item> <mat-icon>calendar_today</mat-icon> Calendar </a>
    </mat-nav-list>
  </mat-sidenav> -->

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <section class="mat-typography title-group">
      <!-- <h1>Heading Goes Here</h1> -->
      <mat-divider></mat-divider>
    </section>

    <!-- Angular material cards -->
    <div class="productCards">
      <mat-grid-list cols="4" rowHeight="300px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <img
            src="https://s.inyourpocket.com/img/figure/2017-09/Temple-Pub-80x35-300-DPI.jpg"
            alt="beer3"
            class="first-photo"
            layout-fill
          />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <img
            src="https://adiseresdotcom.files.wordpress.com/2018/01/71-00_00_55_16-still002.jpg"
            alt="beer3"
            layout-fill
          />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <img
            src="https://d2fdt3nym3n14p.cloudfront.net/venue/2242/gallery/11532/conversions/AX4A6798-big.jpg"
            alt="beer2"
            layout-fill
          />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <img
            src="https://m.brasov.fest.ro/files/places/9/image_910_5_large.jpg"
            alt="beer"
            layout-fill
        /></mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="wrapper">
  <div>
    <!-- Logout-->

    <button
      type="button"
      class="btn btn-secondary float-right m-3"
      (click)="goToUrl()"
    >
      Logout
    </button>

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-warning float-right m-3"
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="addClick()"
      data-backdrop="static"
      data-keyboard="false"
    >
      Add New Restaurant
    </button>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeClick()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-edit [emp]="emp" *ngIf="ActivateAddEditComp"> </app-add-edit>
        </div>
      </div>
    </div>
  </div>

  <!-- Checkboxes -->
  <div class="checkboxes">
    <div>
      <mat-slide-toggle
        [(ngModel)]="appliedFilters.cardPayment"
        (change)="getRes()"
        id="card1"
      >
        <label for="card1">Card Payment</label></mat-slide-toggle
      >
    </div>
    <div>
      <mat-slide-toggle
        type="checkbox"
        [(ngModel)]="appliedFilters.petFriendly"
        (change)="getRes()"
        id="card2"
      >
        <label for="card2">Pet Friendly</label>
      </mat-slide-toggle>
    </div>
    <div>
      <mat-slide-toggle
        type="checkbox"
        [(ngModel)]="appliedFilters.wifi"
        (change)="getRes()"
        id="card3"
      >
        <label for="card3">Wi-Fi</label>
      </mat-slide-toggle>
    </div>
    <div>
      <mat-slide-toggle
        type="checkbox"
        [(ngModel)]="appliedFilters.terrace"
        (change)="getRes()"
        id="card4"
      >
        <label for="card4">Outdoor Terrace</label>
      </mat-slide-toggle>
    </div>
  </div>
  <div class="form">
    <label for="listSearch" class="form-label">Search for a restaurant:</label>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Search for a place</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="query"
        id="listSearch"
      />
    </mat-form-field>
  </div>
  <ul>
    <li *ngFor="let res of restaurants | search: query" class="restaurant-card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ res.name }}</mat-card-title>
          <mat-card-subtitle>{{ res.price }}</mat-card-subtitle>
          <label class="add-fav">
            <input type="checkbox" />
            <i class="icon-heart">
              <i class="icon-plus-sign"></i>
            </i>
          </label>
        </mat-card-header>
        <img
          mat-card-image
          src="http://localhost:3000/{{ res.image }}"
          alt="{{ res.name }}"
        />
        <mat-card-content>
          <p>
            {{ res.adress }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            (click)="goToDetailsByRestaurant(res)"
          >
            SEE DETAILS
          </button>
          <button mat-raised-button color="warn">BOOK A PLACE</button>
          <button
            type="button"
            class="btn btn-light mr-1 edit"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="editClick(res)"
            data-backdrop="static"
            data-keyboard="false"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-pencil-square"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
          <button
            type="button"
            class="btn btn-light mr-1 delete"
            (click)="deleteClick(res)"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-trash-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
              />
            </svg>
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
